body{
    padding: 0;
    margin: 0;
    
}
$color-main: #00A29B;
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    border-bottom: none;
}
logo img {
    width: 100px;
    height: 100px;
    float: left;

    
}
.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15rem;
}
.img-back {
    display: flex;
    overflow: hidden;
    width: auto;
    height: 90vh;
    opacity: 0.5;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/felipegustinr/Adopme/main/docs/background.png) ;
    
}

.title{
    padding: -1rem;
    margin: 0rem;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: $color-main ;

}
.img-back-co {
    display: flex;
    overflow: hidden;
    padding-top: 55rem;
    width: auto ;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://raw.githubusercontent.com/felipegustinr/Adopme/main/docs/Construction_page.png) ;
}