.btn-main, .btn-main-s {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #00A29B;
  color: white;
  border: none;
  border: solid 1px #00A29B;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #00A29B;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-s {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: black;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu li {
  list-style: none;
  display: inline;
}
.main-menu li a {
  text-decoration: none;
}

.icon-sm i {
  font-size: 0.75rem;
  padding: 0.25rem;
  border-radius: 50%;
  color: #00A29B;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2588235294);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2588235294);
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feature .icon {
  color: #00A29B;
  font-size: 2rem;
}
.feature .description .title {
  float: left;
  width: 100%;
  height: 0px;
  padding-top: 10rem;
  font-size: 1rem;
  color: #00A29B;
}

.login {
  color: #00A29B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.registrer {
  color: #00A29B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

.pets {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: auto;
  margin: auto;
}
.pets .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem;
  margin: 0.5rem;
  border-color: #00A29B;
  border-radius: 2rem;
}
.pets .card .card-img-top {
  width: 16.5rem;
  height: auto;
  border-radius: 3rem;
}
.pets .card .card-text {
  text-align: justify;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 5rem;
  border-bottom: none;
}

logo img {
  width: 100px;
  height: 100px;
  float: left;
}

.login-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 15rem;
}

.img-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: auto;
  height: 90vh;
  opacity: 0.5;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(https://raw.githubusercontent.com/felipegustinr/Adopme/main/docs/background.png);
}

.title {
  padding: -1rem;
  margin: 0rem;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  background-color: transparent;
  color: #00A29B;
}

.img-back-co {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-top: 55rem;
  width: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://raw.githubusercontent.com/felipegustinr/Adopme/main/docs/Construction_page.png);
}
/*# sourceMappingURL=style.css.map */